
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env
/public/bundles/
/public/dist/
/public/uploads/
/var/
/vendor/
###< symfony/framework-bundle ###

/public/images/background.jpg

###> symfony/webpack-encore-bundle ###
/node_modules
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
