{% trans_default_domain 'FOSUserBundle' %}

<div class="card">
    <div class="card-header">
        <h5 class="card-title text-center">Réinitialiser mon mot de passe</h5>
    </div>
    <div class="card-body">
        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
            <fieldset>
                <div class="form-group">
                    <label for="username">Saisissez votre nom d'utilisateur ou votre adresse e-mail</label>
                    <input class='form-control' type="text" id="username" name="username" required="required" />
                </div>
                <input class="btn btn-lg btn-info btn-block" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
            </fieldset>
        </form>
    </div>
</div>