{% extends 'base.html.twig' %}

{% block headTitle %} {{ text('Accueil - Titre') }} {% endblock %}

{% block body %}

    {{ text('Accueil - Texte') }}

    {% if not app.user.hasAnswered %}
        <a href="{{ path('answer_form') }}" class="btn btn-primary">Cliquez ici pour donner votre réponse</a>
    {% endif %}

{% endblock %}
