{% for item in listItems %}
    <div class="wedding-list-item card">
        <strong class="title">{{ item }}</strong>
        <div class="row">
            <div class="col-md-4"><img class="img-thumbnail" src="{{ vich_uploader_asset(item, 'imageFile') }}" alt="Photo de {{ item }}"></div>
            <div class="col-md-8">
                <p>{{ item.description }}</p>
            </div>
        </div>
    </div>
    <br>
{% else %}
    <h3 class="text-muted text-center">Aucun élément n'est renseigné pour l'instant.</h3>
{% endfor %}