{% extends 'base.html.twig' %}

{% block headTitle %} {{ text('Liste de mariage - Titre') }} {% endblock %}

{% block body %}

    {{ text('Liste de mariage - Texte') }}

    <span class="d-none d-md-block">
        <a href="{{ path('wedding_list') }}">Cliquez ici</a> pour voir les différentes étapes sur une carte.
    </span>

    <br>

    {% include 'wedding_list/_classic_content.html.twig' %}

{% endblock %}

