
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

// Bootstrap overrides
$primary: #790d0d;
$gray-400: #ced4da;
$enable-rounded: false;
$input-bg: rgba(0, 0, 0, .5);
$input-border-color: rgba(0, 0, 0, .6);
$text-muted: $gray-400;
//$body-color: $gray-400;
$input-color: $gray-400;
$input-disabled-bg: rgba(100, 100, 100, 0.5);
$link-hover-color: lighten($link-color,10%);

@import "~bootstrap/scss/bootstrap";

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
	color: rgba(255, 255, 255, 0.5);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

.form-control {
	background-color: rgba(255, 255, 255, 0.8);
}

.card {
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

/*******************************************************************/

/**********************/
/*       GENERAL      */
/**********************/

body {
	background-image: url('/images/background.jpg');
	background-position: center top;
	background-attachment: fixed;
	height: 100vh;
}

body > div.container {
	margin: 20px auto;
	padding: 15px;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
	background-color: rgba(255, 255, 255, 0.5);
	background: url('/images/background_blur.jpg');
	background-position: center top;
	background-attachment: fixed;
}

@media (max-width:575px) {
	body > div.container {
		margin-top: 0;
	}
}

#navbar {
	background-color: rgba(52,58,64, 0.6) !important;
	box-shadow: 0 0 16px rgba(0, 0, 0, .4);
}

#navbar .dropdown-menu {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 0;
}

#navbar .dropdown-divider {
	border-color: #666666;
	margin: 0;
}

#navbar .dropdown-item, #navbar .dropdown-item-text {
	color: #eeeeee;
	padding: 0.5rem 1.5rem;
}
#navbar .dropdown-item:hover, #navbar .dropdown-item:focus {
	color: #fff;
	background-color: #ffffff50;
}

@media (min-width:992px) {
	#navbar-user-menu {
		display: none !important;
	}
}

/**********************/
/*  LISTE DE MARIAGE  */
/**********************/


.wedding-list-item {
	border: 1px solid #aaaaaa;
	padding: 20px;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.wedding-list-item .title {
	font-size: 1.3em;
	display: block;
}

.wedding-list-item .amount {
	display: block;
	margin: 15px 0;
	font-size: 1.2em;
}

/**********************/
/*      REPONSES      */
/**********************/

body.answer .guest {
	margin-bottom: 30px;
}

body.answer_form form {
	input[type=checkbox] {
		display: none;
	}
}

@media (min-width:992px) {
	body.answer_form .form-check-input {
		margin-top: .8rem;
	}
}
