
@import "~leaflet/dist/leaflet.css";

#mapContainer {
    /*clip-path: polygon(3% 0px, 7% 1%, 11% 0%, 16% 2%, 20% 0px, 23% 2%, 27.91% 1.38%, 32% 1%, 35% 1%, 39% 3%, 41% 1%, 45% 0%, 47% 2%, 50% 2%, 53% 0px, 58% 2%, 60% 2%, 63% 1%, 65% 0%, 67% 2%, 69% 2%, 73% 1%, 76% 1%, 79% 0px, 82% 1%, 85% 0px, 87% 1%, 89% 0px, 92% 1%, 96% 0px, 98% 3%, 99% 3%, 99% 6%, 100% 11%, 98% 15%, 100% 21%, 99% 28%, 100% 32%, 99% 35%, 99% 40%, 100% 43%, 99% 48%, 100% 53%, 100% 57%, 99% 60%, 100% 64%, 100% 68%, 99% 72%, 100% 75%, 100% 79%, 99% 83%, 100% 86%, 100% 90%, 99% 94%, 100.08% 99.38%, 97.43% 100.13%, 92.36% 99.63%, 89% 100%, 86.36% 100.75%, 83% 100%, 77.72% 100.63%, 72% 100%, 66.54% 99.63%, 62% 100%, 59% 99%, 54% 99%, 49% 100%, 46% 98%, 43% 100%, 40% 98%, 38% 100%, 35% 99%, 31% 100%, 28% 99%, 25% 99%, 22% 100%, 19% 99%, 16% 100%, 13% 99%, 10% 99%, 7% 100%, 4% 99%, 2% 97%, 1% 97%, 0% 94%, 1% 89%, 0% 84%, 1% 81%, 0px 76%, 0px 71%, 1% 66%, 0% 64%, 0% 61%, 0% 59%, 1% 54%, 0% 49%, 1% 45%, 0% 40%, 1% 37%, 0% 34%, 1% 29%, 0% 23%, 2% 20%, 1% 17%, 1% 13%, 0px 10%, 1% 6%, 0.64% 1%);*/
    
    /*mask-image: radial-gradient(ellipse farthest-side, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 95%);
    margin: -15px;*/

    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

#mapid { 
    height: 800px;
    width: 100%; 
}


/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
}
.flip-container, .front, .back {
    width: 500px;
    height: 330px;
}
/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: none;
    height: 100%;
    position: relative;
    box-shadow: 0 3px 14px rgba(0,0,0,0.6);
    cursor: pointer;
}
/* hide back of pane during swap */
.flip-front, .flip-back {
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
/* front pane, placed above back */
.flip-front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
}
/* back, initially hidden pane */
.flip-back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}
.flip-container.flipped .flipper, .flip-container.flip .flipper {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -ms-transform: none;
}
.flip-container.flipped .flipper .flip-front, 
.flip-container.flip .flipper .flip-front {
    -ms-transform: rotateY(180deg);
}
.flip-container.flipped .flipper .flip-back, 
.flip-container.flip .flipper .flip-back {
    -ms-transform: rotateY(0deg);
}


.leaflet-popup-content-wrapper {
    border-radius: 1px;
    background-color: transparent;
    box-shadow: none;
}
.leaflet-popup-content {
    margin: 0;
}
.leaflet-popup-tip-container {
    opacity: 0;
}



.postcard {
    background-image: url('/images/map/postcard-bg.png');
    background-size: 100px;
    font-family: 'Kalam', cursive;
    vertical-align: top;
    width: 100%;
    height: 100%;
}
.postcard-content {
    background-color: #edeae3;
    margin: 8px 10px;
    padding: 8px;
    height: 310px;
}
.postcard-left-side, .postcard-right-side {
    display: inline-block;
    height: 100%;
    vertical-align: top;
}
.postcard-left-side {
    width: 60%;
    font-size: 15px;
    overflow-y: auto;
    padding-right: 5px;
}
.postcard-left-side.sm {
    font-size: 14px;
}
.postcard-left-side.lg {
    font-size: 17px;
}
.postcard-right-side {
    width: 39%;
    border-left: 1px solid #aaa;
}
.postcard-stamp {
    text-align: right;
}
.postcard-stamp img {
    height: 70px;
}
.postcard-address {
    padding: 10px 0 0 15px;
    color: #666;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
.postcard-address hr {
    margin: 5px 0 10px 0;
    border-color: #aaa;
}
.postcard-address a.btn {
    color: #568c23;
    border: 3px solid #7fc040;
    font-size: 16px;
    background-color: #eaeaea;
    margin-top: 10px;
}
.postcard-address a.btn:hover {
    background-color: #fafafa;
}
.postcard.flip-front  {
    background-color: #ddd;
    background-size: cover;
    text-transform: uppercase;
    font-family: 'Arial', sans-serif;
    -webkit-filter: contrast(80%) sepia(40%) grayscale(20%);
    filter: contrast(80%) sepia(40%) grayscale(20%);
    box-sizing: border-box;
    border: 10px solid #fff;
}
.postcard.flip-front b {
    display: inline-block;
    padding: 10px 20px;
    width: 100%;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.6);
    box-sizing: border-box;
    position: absolute;
    bottom: 0px;
}