<strong>Votre compte a été activé !</strong>
<p>
    Vous pouvez désormais vous connecter sur le site de notre mariage <a href="{{ url('fos_user_security_login', {'username': user.username}) }}">en cliquant ici</a>.
</p>
<p>
    Rappel de votre identifiant : <strong>{{ user.username }}</strong>
</p>
<p>
    A bientôt !
</p>
<p>
    <em>Manon & Rémi</em>
</p>